@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure transparency and overlay behavior */
html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
}